.additional_container{
    background-image: url("../img/piano.jpg");
    background-size: cover;
    background-position:50% 20%;
    height: 100vh;
}
.aditional_col{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.aditional_title{
    position: relative;
    margin-bottom: 7rem;
    width: 50%;
}
.aditional_title::after{
    
    content: '';
    display: flex;
    position: absolute;
    left: 50%;
    margin-top: 1rem;
    transform: translateX(-50%);
    width: 20%; /* Width of the border */
    border-bottom: 2px solid #d10359; /* Border properties */
        
}

.aditional_row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    margin-bottom: 3rem;
}
.additional_content_box{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    background-color: rgba(5, 5, 27, 0.7) ;
   
}

.contact_aditional_btn, .contact_aditional_btn:after, .contact_aditional_btn:hover{
    background-color: #d10359;
}

.aditional_buton_row{
    width: 15%;
}