
.aditional_col{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.aditional_title::after{
    
    content: '';
    display: flex;
    position: absolute;
    left: 50%;
    margin-top: 1rem;
    transform: translateX(-50%);
    width: 20%; /* Width of the border */
    border-bottom: 2px solid #d10359; /* Border properties */
        
}

.aditional_subtitle{
    color: #6efbff;
}


.contact_aditional_btn, .contact_aditional_btn:after, .contact_aditional_btn:hover{
    background-color: #d10359;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 575px) {
    .additional_container{
        background-image: url("../img/piano.jpg");
        background-size: cover;
        background-position:30% 20%;
        height: auto;
    }
    .aditional_title{
        position: relative;
        margin-bottom: 3rem;
        width: 100%;
    }
    .aditional_row{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
    .additional_content_box{
        display: flex;
        flex-direction: column;
        width: 80%;
        background-color: rgba(5, 5, 27, 0.7) ;
        margin-top: 1rem;
       
    }
    .aditional_buton_row{
        width: 80%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .contact_aditional_btn{
        height: 3rem;
        font-size: 1.2rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
    .aditional_title{
        position: relative;
        margin-bottom: 7rem;
        width: 100%;
        font-size: 2.5rem;
    }
    .additional_container{
        background-image: url("../img/piano.jpg");
        background-size: cover;
        background-position:50% 20%;
        
    }
    .aditional_row{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
    }
    .additional_content_box{
        
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(5, 5, 27, 0.7) ;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
       
    }
    .aditional_text{
        margin-bottom: 2rem;
    }
    .aditional_buton_row{
        width: 50%;
        margin-bottom: 2rem;
        
    }
    .contact_aditional_btn{
        
        padding: .8rem;
        text-align: center;
        height: 3.5rem;
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .aditional_text{
       
        font-size: 1.2rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .aditional_text{
       
        font-size: 1.4rem;
    }
    .aditional_buton_row{
        width: 30%;
        margin-bottom: 2rem;  
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .aditional_buton_row{
        width: 23%;
        
    }
}